* { box-sizing: border-box;margin: 0; padding: 0; padding: 0;}
body { 
    border: dotted 3px red;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
}
header{ background: #615192; width: 100%;
        margin-bottom: 1rem;}
aside { background: #CD88AF ;width: 25%;
        padding: 1rem;}
aside li{ list-style: none;}
aside a {
        text-decoration: none;
        background: lightskyblue;
        margin: 1rem 0;
        display: flex;
        padding: 1rem;
        box-shadow: 2px 2px 5px black;
}
aside a:hover { 
        background: rgb(25, 66, 132);color: white;
}

main { background: #FFB98C ;
        width: 70%;padding: 2rem;}
footer{ background: #90DB78; height: 80px;
        padding: 1rem; width: 100%;
        margin-top: 1rem;}
