main { 
    background: rgb(106, 106, 205);
    width: 1000px;
    border: red 3px solid;
    margin: 0 auto; /* centra el objeto en el contenedor*/
    padding: 1rem;
    font-size: 2rem;
}

/* MAQUETADO PARA TABLET */
@media screen and (max-width: 800px){
    main {
        background: green;
        border: orange dotted;
        font-size: 1.2rem;
        color: lightblue;
    }
} /* cierre de media querie*/

/* MAQUETADO PARA CELULAR <#450px */
@media screen and (max-width: 450px) {
    main { 
        background: yellow;
        border: dashed pink;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        width: unset;
        margin: unset;
        color: black;
    }
}
    


    

