* { box-sizing: border-box; margin: 0;padding: 0;}

body {
    background: rgb(212, 203, 212) ;
}

header { 
    background: violet;
    padding: 1rem;
    margin:1rem;
}


main{ 

    grid-column: 1 /5;
    border: solid rgb(204, 22, 189);padding: 1rem;  
    padding: 1rem; 
}


footer { 
    height:as 80px; 
    padding: 1rem; 
    background: rgb(214, 83, 155);
    border: solid black;
    
}
.uno { display: grid;
    grid-template-columns: 5fr 5fr;
}



