* { box-sizing: border-box; margin: 0;padding: 0;}

body { 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 2rem;
    background: rgb(193, 226, 193);  
}

header { 
    grid-column: 1/ -1 ;
    display:grid;
    grid-template-rows: 170px;
    grid-template-columns: 1fr 4fr;
    background: rgb(134, 129, 132);
    margin: 1rem;
    padding: 1rem;
}
header img { 
    width: 150px;
    justify-self: center;
}
header h1 {
    align-self: center;
}
nav { 
    grid-column: 1 / -1;
    border: solid rgb(14, 158, 103); 
}
nav ul { 
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    list-style: none;
    text-align:center;
    gap: 3rem;
}
nav a {
    display: grid;
    border: solid rgb(34, 122, 7);
    padding: 1rem 1rem;
    text-decoration: none;
    text-align: center; 
}
nav a:hover { background: rgb(73, 168, 36); color: black;}
main{ 
    grid-column: 1 /5;
    border: solid #e25c0e;padding: 1rem;   
}
aside{ border: rgb(146, 37, 122) solid; grid-column: -3 / -1;
        margin: 1rem;}

footer { grid-column: 1 / -1; 
    height:as 80px; 
    padding: 2rem; 
    background: rgb(214, 83, 155);
    
}

section { border: dashed rgb(10, 215, 230) 2px;}

.uno { display: grid;grid-template-columns: 1fr 1fr;}

article { 
    background-color: rgba(105, 211, 140, 0.918);
    border-radius: 5rem; 
    margin: 3rem;
}