main { 
    background: violet; padding: 1rem;
    display: flex;
    flex-wrap;
}
section {
    display: flex;
    background-color: purple;
}
article { 
    width: 100px;
    height: 100px;
    background: orange
}
section,article {
    border: solid white 3px;
    border-radius: 1rem;
    margin: 1rem;
}
.mitad { width: 45%;}