*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{ 
    border: solid rgb(95, 248, 13) 3px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center ;
}

header{
    width: 100%;
    height: 100%;
    border: red solid;background: orange;
    padding: 1rem;
    
}
main{ 
    border: 10px;
    background: violet;width: 70%;
    padding: 3rem;  
      
    
} 

aside li{ 
    list-style: none; width:9rem;
    justify-content: flex-start;
    
    
}
aside a { 
    text-decoration: none;
    background: lightblue;
    margin: 2rem 0;
    display: flex;
    padding: 1rem;
    box-shadow: 5px 5px 15px rgb(191, 99, 12);
    
}
 aside a:hover { background: yellow;}

footer{ 
    background: rgb(211, 152, 204);
    height: 80px;
    padding: 3rem; width: 100%;
    margin-top: 1rem;}
    


            
